<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>

    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="assembly://AJ.DMES.PackageWorkstation.Repository/AJ.DMES.PackageWorkstation.Repository/Repository.xml"/>
      <resource uri="assembly://AJ.DMES.PackageWorkstation.Manager/AJ.DMES.PackageWorkstation.Manager/Manager.xml"/>
    </context>

  </spring>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Set default logging level to DEBUG -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <!-- Set logging for Spring.  Logger names in Spring correspond to the namespace -->
    <logger name="Spring">
      <level value="INFO" />
    </logger>

    <logger name="Spring.Data">
      <level value="DEBUG" />
    </logger>

    <logger name="NHibernate">
      <level value="INFO" />
    </logger>


  </log4net>

  <!--数据库连接字符串-->
  <databaseSettings>
    <add key="db.datasource" value="192.168.1.104" />
    <add key="db.user" value="sa" />
    <add key="db.password" value="123456" />
    <add key="db.database" value="aj" />
  </databaseSettings>

</configuration>